{% extends 'ZantolovMediaBundle::baseAdmin.html.twig' %}

    {% block body -%}
        <h1>Image edit</h1>

        {% if entity.imageFile is defined %}
            <img src="{{ zantolov_uploader_asset(entity, 'imageFile', null, false) | imagine_filter('500x330') }}"
                 alt=""/>
        {% endif %}

        {{ form(edit_form) }}

        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('media.image') }}">
                    <i class="fa fa-arrow-left"></i> Back to the list
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    {% endblock %}
