{% extends 'ZantolovMediaBundle::baseAdmin.html.twig' %}

{% block customStylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
{% endblock %}

{% block customJsPlugins -%}
    {{ parent() }}
    <script src="{{ asset('bundles/zantolovmedia/js/dropzone.js') }}"></script>
{% endblock %}

{% block body %}
    <form action="{{ url('media.files.upload.process') }}"
          method="POST"
          class="dropzone"
          id="dropzoneForm"></form>

    <script>
        var functions = window.functions || [];
        functions.push(function () {
            Dropzone.options.dropzoneForm = {
                init: function() {
                    this.on("error", function(file, error) { alert(error.message); });
                }
            };
        });
    </script>

{% endblock %}