{% extends 'ZantolovMediaBundle::baseAdmin.html.twig' %}

{% block customStylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
{% endblock %}

{% block customJsPlugins -%}
    {{ parent() }}
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
{% endblock %}

{% block body %}
    <form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone">
    </form>
{% endblock %}