{% extends 'ZantolovMediaBundle::baseAdmin.html.twig' %}

    {% block body -%}
        <h1>{% trans %}Image creation{% endtrans %}</h1>

        {{ form(form) }}

        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('media.image') }}">
                    <i class="fa fa-arrow-left"></i> {% trans %}Back to the list{% endtrans %}
                </a>
            </li>
        </ul>
    {% endblock %}
