{% extends 'ZantolovMediaBundle::baseAdmin.html.twig' %}

    {% block body -%}
        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
            {% block entityTitle %}New Image{% endblock %}
            {% block actionPanel %}
                <ul class="list-inline">
                    <li>
                        <a onclick="$('#zantolov_mediabundle_image_submit').click();" href="javascript:void(0)"
                           class="btn btn-success btn-sm">
                            <i class="fa fa-check"></i> Create
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm" href="{{ path('zantolov.media.image.index') }}">
                            <i class="fa fa-arrow-left"></i> Back to the list
                        </a>
                    </li>
                </ul>
            {% endblock %}
        {% endembed %}

        <div class="col-md-12">
            {{ form(form) }}
        </div>

    {% endblock %}
