{% extends 'ZantolovMediaBundle::baseAdmin.html.twig' %}

    {% block body -%}
        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
            {% block entityTitle %}
                New Document
            {% endblock %}
            {% block actionPanel %}
                <ul class="list-inline">
                    <li>
                        <a onclick="$('#zantolov_mediabundle_document_submit').click();" href="javascript:void(0)"
                           class="btn btn-success btn-sm">
                            <i class="fa fa-check"></i> Create
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm" href="{{ path('zantolov.media.document.index') }}">
                            <i class="fa fa-arrow-left"></i> Back to the list
                        </a>
                    </li>
                </ul>
            {% endblock %}
        {% endembed %}
        {{ form(form) }}
    {% endblock %}
